<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cash360.java_design">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cn.cash360.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.cash360.ui.activity.customview.MyViewActivity" />
        <activity android:name="cn.cash360.ui.activity.sidazujian.ZuJianActivity" />
        <activity android:name="cn.cash360.ui.activity.ainination.MyAnimationActivity" />
        <activity android:name="cn.cash360.ui.activity.ainination.AnimationActivity"/>
    </application>

</manifest>