<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.cash360.java_design"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="cn.cash360.AppData"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cn.cash360.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cn.cash360.ui.activity.customview.MyViewActivity"/>
        <activity android:name="cn.cash360.ui.activity.sidazujian.ZuJianActivity"/>
        <activity android:name="cn.cash360.ui.activity.ainination.MyAnimationActivity"/>
        <activity android:name="cn.cash360.ui.activity.ainination.AnimationActivity"/>
        <activity
            android:name="cn.cash360.ui.activity.ainination.GestureActivity"
            android:label="手势"/>
        <activity android:name="cn.cash360.ui.activity.advanced.handler.HandlerActivity"/>
        <activity android:name="cn.cash360.ui.activity.advanced.view.ViewActivity"/>
        <activity android:name="cn.cash360.ui.activity.advanced.rxjava.RxJavaDemoActivity"/>
    </application>

</manifest>